/* ff815a */

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

:root {
    --primary: #1e90ff;
    --dark: #0063cb;
    --light: #6fc0ff;
}

.logo {
    width: 50px;
}

.main_logo {
    width: 80%;
}

.container {
    z-index: -100;
    top: 0;
    position: absolute;
    width: 100%;
}

.header {
    z-index: 50;
    /* es sticky igual */
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    height: 8%;
    align-items: center;
    justify-content: space-around;
}

.header>div {
    padding-right: 40%;
    padding-top: 1%;
}

.header_color {
    transition: .5s;
    background-color: var(--primary);
    /* cambiar si no gusta */
    height: 9%;
}

.header_transparent {
    transition: .5s;
    background-color: transparent;
}

.icon {
    width: 25px;
    color: white;
    /* background-color: white; */
    fill: white;
}

.inactive {
    display: none;
}

.welcome_screen {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vertical_background {
    /* background: url("../img/vertical\ banner.jpg"); */
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/vertical\ banner.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: auto; */
}

.horizontal_background {
    background: url("../img/splash_screen.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-size: auto; */
}

.splash_img {
    z-index: -100;
    width: 100%;
    filter: blur(3px);
}

.welcome_text {
    font-family: Arial, Helvetica, sans-serif;
    /* position: absolute; */
    color: white;
    text-align: center;
    text-shadow: 0px 8px 8px black;
}

.welcome_text h1 {
    font-size: 4rem;
    padding-bottom: 50px;
}

.news_screen {
    height: 700px;
    background-color: white;
    padding-top: 20px;
}

.navbar_links {
    color: white;
    display: flex;
    flex-direction: column;
    top: 50px;
    position: fixed;
    background-color: gray;
    width: 100%;
    height: 100%;
    list-style: none;
}

.navbar_links li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navbar_links li button {
    font-weight: bold;
    width: 100%;
    border: none;
    color: white;
    background-color: transparent;
    font-size: 1.3rem;
    text-align: center;
    padding: 8% 10%;
    border-radius: 4px;
    box-sizing: content-box;
}

.dropdown_list {
    display: flex;
}


/* ---------------------------------------------------------------- */

.news_wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.news_image {
    width: 100%;
    height: auto;
}

.news_image_container {
    display: inline-block;
    min-width: 330px;
}

.news_line {
    left: 0;
    z-index: 50;
    position: absolute;
    width: 40%;
    height: 3%;
    background-color: var(--dark);
    align-self: center;
    border: none;
    /* border-radius: 500px; */
}

.news_divider {
    display: flex;
    margin-bottom: 20px;
}

.news_divider h3 {
    margin-left: 15px;
    z-index: 100;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    align-self: center;
}


/* carrousel */


/* Slideshow container */

.slideshow_container {
    /* display: inline-block; */
    /* width: 85%; */
    /* max-height: 500px; */
    position: relative;
    /* margin: auto; */
}

.slideshow_image {
    width: 100%;
    height: auto;
    min-width: 330px;
    max-width: 500px;
    min-height: 240px;
    /* margin: 0 -5%; */
}


/* Hide the images by default */

.mySlides {
    /* width: 500px; */
    display: inline-block;
}

.slides_hidden {
    display: none;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.dot_container {
    text-align: center;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Caption text */

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}


/* Number text (1/3 etc) */

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}


/* The dots/bullets/indicators */

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}


/* .dot:hover */

.dot_active {
    /* background-color: #717171; */
    background-color: black;
}


/* Fading animation */

.fade {
    /* -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s; */
    animation-name: fade;
    animation-duration: 1.5s;
}


/* @-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
} */

@keyframes fade {
    from {
        opacity: .1
    }
    to {
        opacity: 1
    }
}


/* final carrousel */


/* ------------------------------------------------------------------- */


/* //no funciona la transicion, pero bueno */

.list_display {
    display: block;
    /* transition: 1s; */
    /* z-index: 200; */
    /* opacity: 100%; */
}

.list_hidden {
    display: none;
    /* z-index: -500; */
    /* transition: 1s; */
    /* opacity: 0; */
}

.aside_shown {
    transition: 1s;
    right: 0;
}

.aside_not_shown {
    transition: 1s;
    right: -500px;
}
/*---------------------------------------------------------------------------------*/

/*news section*/

.new-post-img{
    width: 100%;
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.new-post-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.new-post-title{
    color:rgb(82, 197, 82);
}

.new-post-main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: rgba(41, 41, 41, 0.979) ;*/
    background: linear-gradient(to right,#1e90ff,#6fc0ff);
    padding: 0 1.5rem;  
}

.new-post{
    width: 100%;
    max-width: 98rem ;
    padding: 5rem;
    background-color: #eee;
    box-sizing: 0 1.4rem 8rem rgba(0,0,0,20) ;
    display: flex;
    align-items: center;


}



@media screen and (min-width: 660px) {}

@media screen and (min-width: 1024px) {
    .vertical_background {
        /* background: url("../img/vertical\ banner.jpg"); */
        /* background: url("../img/splash_screen.png"); */
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../img/splash_screen.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .navbar_links {
        display: flex;
        flex-direction: row;
        position: unset;
        background-color: transparent;
    }
    .navbar_links li {
        width: 100%;
        margin: 0 2%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navbar_links li button {
        font-weight: bold;
        width: 100%;
        /* height: 50px; */
        border: none;
        color: white;
        background-color: transparent;
        font-size: 1.3rem;
        text-align: center;
        margin: 2% 12%;
        /* width: 50%; */
        padding: 8% 10%;
        border-radius: 4px;
        box-sizing: content-box;
    }
    .navbar_links li button:hover {
        transition: .5s;
        background-color: gray;
        /* border: 1px solid grey; */
    }
    .nav_icon {
        display: none;
    }
    .navbar {
        width: 50%;
    }
    .logo {
        width: 75px;
    }
    .main_logo {
        width: 90%;
    }
    .header>div {
        padding-right: 25%;
        /* padding-top: 1%; */
    }
    .slideshow_image {
        /* width: 100%;
        height: auto; */
        width: 800px;
        min-width: 800px;
        /* max-width: 800px; */
        height: 500px;
        /* min-height: 240px; */
        /* margin: 0 -5%; */
    }
    .news_wrapper {
        position: relative;
        flex-direction: row;
        justify-content: center;
    }
    .news_row {
        margin-left: 3%;
        display: flex;
        height: auto;
        flex-direction: column;
        justify-content: space-around
    }
    .news_row div {
        margin-bottom: 10%;
    }
    .news_image {
        max-width: 300px;
    }
    .news_line {
        width: 15%;
    }
}